*{
    margin: 0;
    padding: 0;
}

.scrollingText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 81);
    color: rgb(182, 228, 246);
    text-decoration: underline;
}